<%# component.html.erb %>
  <div id="<%= dom_id component %>">
    <p>
      <strong>Name:</strong>
      <%= component.name %>
    </p>

    <p>
      <strong>Lang:</strong>
      <%= component.lang %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= component.category %>
    </p>

    <p>
      <strong>Code:</strong>
      <%= component.code %>
    </p>

    <p>
      <strong>Desc:</strong>
      <%= component.desc %>
    </p>

  </div>
