<p style="color: green"><%= notice %></p>

<%= render @component %>

<div>
  <%= link_to "Edit this component", edit_component_path(@component) %> |
  <%= link_to "Back to components", components_path %>

  <%= button_to "Destroy this component", @component, method: :delete %>
</div>
